<div id="<%= dom_id product %>">
  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

  <p>
    <strong>Sold:</strong>
    <%= product.sold %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= product.category_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= product.user_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Colour:</strong>
    <%= product.colour %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= product.condition %>
  </p>

  <p>
    <strong>Listed date:</strong>
    <%= product.listed_date %>
  </p>

</div>
