<h1 class="product-subtitle">♣️ WOMAN</h1>

<div class="product-layout">
  <% @products.each do |product| %>
    <div class="image">
      <% if product.picture.attached? %>
        <%= image_tag product.picture, alt: product.title %>
      <% else %>
        <%= image_tag asset_path ("35.jpg"), alt: product.title %>
      <% end %>

      <div class="product-title">
        <%= product.title %>
      </div>
        <p>Price: $ <%= product.price %></p>
        <%# <p>Sold: <%= product.sold %></p> 
      
      <%= link_to 'Show more', product, class: "button" %>
    </div>
  <% end %>
</div>

 <%= link_to 'Add new product', new_product_path, class: "button" %>  

