<h1>WOMAN</h1>

<div class="product-layout">
  <% @products.each do |product| %>
    <div>
      <%= product.title %>
      <%= product.price %>
    </div>
  <% end %>
</div>

 <%= link_to 'Add new product', new_product_path, class: "button" %>  

<%# <div id="products">
  <% @products.each do |product| %>
    <%# <%= render product %>
    <%# <p>
      <%= link_to "Show more", product %>
    <%# </p> %>
  <%# <% end %> 
<%# </div> %>

<%# <%= link_to "Add new product", new_product_path %> 
