<form class="search-bar" method="get">
  <input class="bar" type="text" name="q" />
  <input type="submit" value="Search" />
</form>
<h1 class="product-subtitle">♣️ MY PRODUCTS</h1>
<div class="product-layout">
  <% @products.each do |product| %>
    <div class="image">
    <div class="image-container">
      <% if product.picture.attached? %>
        <%= image_tag product.picture, alt: product.title %>
      <% else %>
        <%= image_tag asset_path ("35.jpg"), alt: product.title %>
      <% end %>
    </div>

      <div class="product-title">
          <%= product.title %>
      </div>

      <p class="price-title">$ <%= product.price %></p>
      <p class="colour-title">Colour: <%= product.colour %></p>
      
      <%= link_to 'Show more', product, class: "button" %>
    </div>
  <% end %>
</div>