
<div>
<% if @product.picture.attached? %>
  <%= image_tag @product.picture, alt: @product.title %>
<% else %>
  <%= image_tag asset_path ("35.jpeg"), alt: @product.title %>
<% end %>
</div>


<div class="product-information">
  <%# <%= render @product %> 
    <div class="product-title"><%= @product.title %></div>
    <div>$<%= @product.price %></div>
    <div><span class="product-subtitle">Colour:</span><%= @product.colour %></div>
    <div><span class="product-condition">Condition:</span><%= @product.condition %></div>
    <div class="product-description"><%= @product.description %></div>

  <%= link_to "Back", products_path, class: "button" %>

  <% if current_user != nil && current_user.id == @product.user_id %>
    <%= link_to "Edit", edit_product_path(@product), class: "button" %> 
    <%= button_to "Destroy", @product, method: :delete, class: "button", form: { data: { turbo_confirm: "Are you sure?" } } %>
  <% elsif current_user && !@product.sold %>
    <%= button_to "Buy me!", place_order_path %>
  <% elsif @product.sold %>
    <p class="sold-out">SOLD OUT</p>
  <% end %> 
</div>
